:root {
  --first-color-text: #000;
  --second-color-text: #333;
  --color-white: #fff;
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --cloud: #f4f4fd;
  --light: #e7e9fc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
  line-height: 1.6;
}

img {
  display: block;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.link {
  text-decoration: none;
  padding: 24px 0;
  margin-bottom: 16px;
  display: inline-block;
}

.button-index {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  margin: 0 635px 188px 636px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 24px 0;
}

.button-index:hover,
.button-index:focus {
  background-color: var(--ocean);
}

.button-all:hover,
.button-all:focus {
  color: var(--color-white);
  background-color: var(--ocean);
}

.header {
  background: var(--color-white);
  padding: 24px 0;
}

.header-list {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 0, 4px;
}

.list {
  list-style: none;
  padding: 24px 0;
}

.index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
}

.index:hover,
.index:focus {
  color: var(--ocean);
}

.menu {
  padding: 24px 0;
}

.adress {
  font-size: normal;
  gap: 40px;
}

.adress-class {
  font-style: normal;
  gap: 40px;
}

.address-menu {
  gap: 40px;
}

.contact-links {
  padding: 0 20px;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--ocean);
}

.descriptions {
  background-color: var(--navy-blue);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.highlights-a {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.highlights-c {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
}

.highlights-b {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.start {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  padding: 96px 0 120px 0;
}

.buttons-start {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.button-one {
  background-color: var(--ocean);
  color: var(--color-white);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  margin: 0 12px;
  border: 1px solid var(--light);
  border-radius: 4px;
}

.button-one:hover,
.button-one:focus {
  background-color: var(--WHITE);
  color: var(--ocean);
  border: 1px solid transparent;
}

.buttons-start {
  margin: 96px 259px 72px 415px;
}
.characters {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.characters-lists {
  margin: 72px 144px 120px 144px;
  display: flex;
  gap: 24px;
}

.footer-index {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-p {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 264px;
  padding: 0 76px 24px 156px;
}

.footer-link {
  margin-bottom: 16px;
}
.porfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.studio-top {
  color: var(--navy-blue);
}

.studio-bottom {
  color: var(--cloud);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
  display: flex;
}

.section {
  padding: 120px 0;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.navigation-menu {
  gap: 40px;
  padding: 24px 0 24px;
}
.first {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.solutions {
  max-width: 496px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  gap: 24px;
}

.features-section {
  padding: 120px 0;
}

.features-elements {
  padding: 0 24px 0 0;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-highlight {
  margin-bottom: 8px;
}

.computers {
  display: flex;
  gap: 24px;
}

.computers-elements {
  padding: 0 24px 0 0;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.computers-section {
  padding-bottom: 120px;
}

.computers-highlight {
  margin-bottom: 72px;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 144px 120px 144px;
  width: calc((100% - 48px) / 3);
}

.offer-elements {
  display: block;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  padding: 0 12px;
  width: calc((100% - 48px) / 3);
}

.offer-data {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.header-style {
  border-bottom: 1px solid #e7e9fc;
}

.our-team-highlight {
  margin-bottom: 72px;
}

.name {
  padding: 32px 0px;
}

.name-highlight {
  text-align: center;
  margin-bottom: 8px;
}
